<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{styles/user-home.css}" href="styles/user-home.css">
    <script src="https://kit.fontawesome.com/0142ea973b.js" crossorigin="anonymous"></script>
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>


</head>

<body style="background-color: rgb(25, 32, 43); color: white">

<div class="" style="display: flex; flex-direction: row; margin-right: 15rem; margin-left: 5rem;">
    <div class="container pt-3 home-header">
        <nav class="navbar" role="navigation">
            <h3>Notification API Beta</h3>
            <div class="nav-links" id="nav-links">
                <a th:href="@{/}" role="link" class="btn nav-option">
                    <i class="fas fa-home fa-2x fa-fw"></i>
                    <p class="option-text"><strong>Home</strong></p>
                </a>
                <a th:href="@{/notifications}" class="btn nav-option" role="link">
                    <i class="far fa-bell fa-2x fa-fw"></i>
                    <p class="option-text"><strong>Notifications</strong></p>
                </a>
                <span class="badge notif" id="notifNumber" th:if="${notifications.size()} > 0" th:text="${notifications.size()}"></span>
                <span class="badge notif" id="blankNotif" th:unless="${notifications.size() > 0}"></span>
                <a class="btn nav-option" role="link">
                    <i class="far fa-envelope fa-2x fa-fw"></i>
                    <p class="option-text"><strong>Messages</strong></p>
                </a>
                <span class="badge message"></span>
            </div>
        </nav>
    </div>
    <div class="container pt-3 notif-container">
        <h4 style="padding-left: 10px;"><strong>Home</strong></h4>
        <hr style="border-color: rgb(56, 68, 77)">
        <form class="form-inline">
            <h5 style="padding-right: 5px">Test Notification Connection</h5>
            <div class="form-group" style="padding-right: 10px">
                <button id="connect" class="btn connect" type="submit"><strong>Connect</strong></button>
            </div>
            <div class="form-group">
                <button id="disconnect" class="btn btn-secondary disconnect" type="submit"><strong>Disconnect</strong></button>
            </div>
        </form>
        <div style="padding-top: 10px; padding-left: 20px">
            <button type="submit" class="btn btn-primary" id="getUser"><strong>Get Person</strong></button>
        </div>

        <p style="padding-left: 20px;" id="p1"></p>

    </div>


</div>

</body>
<script src="javascript/home.js" th:src="@{/javascript/home.js}"></script>

</html>